* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

body{
    background-color: #eee;
}
.container{
    max-width: 800px;
    margin: auto; /* Vaba ruum servadesse ehk keskele */
    background-color: #ffffff;
}

.header{
    background-color: #666;
    color: #fff;
    line-height: 100px;
    padding: 20px;
}

.nav{
    background-color: #000;
    padding: 0px 20px;

}

.nav a{
    color: white;
    text-decoration: none;
}

.nav ul{
    height: 40px;
}
.nav li{
    display: block;
    float: left;
    line-height: 40px;
    padding: 0 20px 0 0;
    padding-right: 20px; /* sama asi lihtsalt lihtsam */
}
.content{
    padding: 10px 20px;
}

.content p,h2{
    padding: 10px 0;
}

.content img{
    width: 100%;
}

.content ul{
    margin-left: 20px;
}

.footer{
    background-color: #000;
    line-height: 60px;
    color: #fff;
    padding-left: 20px;
}