* {
    margin: 0;
    padding: 0;
}
.banner {
    height: 480px;
    width: 100%;
    background-image: url(coolbackgrounds-fractalize-ranger_made.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.avatar {
    width: 150px;
    height: 150px;
    border: 10px solid #E6B422;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 5px;
}

.slogan {
    font-size: 24px;
    font-style: italic;
}

.content {
    width: 100%;
    min-height: 600px;
    padding: 60px 80px;
    display: flex;
    gap: 50px;
    background-color: white;
}

.sidebar img {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.main {
    flex: 1;
    font-size: 20px;
    line-height: 2.0;
    color: #333;
}

.footer {
    width: 100%;
    background-color: #E6B422;
    color: white;
    font-size: 32px;
    padding: 40px;
    text-align: center;
}
